

/* BANNER */
.banner {
    position: relative;
    width: 100%;


    background: rgb(255,169,0);
    background: linear-gradient(313deg, rgba(255,169,0,1) 8%, rgba(255,41,0,1) 96%);

}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    z-index: 1;
    mix-blend-mode: multiply;
}
.banner::before {
    filter: url(#noiseFilter);
}


.container_banner {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

.container_left_banner {
    width: 54%;
    border: 2px solid green;
}

.container_right_banner {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 2px solid green;
}
.container_right_banner img {
    width: 80%;
    border: 1px solid red;
}


.box_title_banner h2 {
    font-size: 4rem;
    line-height: 4.7rem;
    text-shadow: 2px 2px black;
    color: var(--title-color);
    z-index: 9999;
}
.box_title_banner h2 span{
    color: var(--orange);
}






/* BEST */
.best {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 3.5rem 0 1rem 0;


    /* background: rgb(255,49,0);
    background: linear-gradient(313deg, rgba(255,49,0,1) 19%, rgba(255,161,0,1) 45%, rgba(255,67,0,1) 85%), url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='2.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'%3E%3C/rect%3E%3C/svg%3E"); */

    /* border-radius: 0 0 5rem 5rem; 
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.5); */
}
/* ? */

/* .orange_circle_1,
.orange_circle_2,
.orange_circle_3  {
    position: absolute;
}
.orange_circle_1{
    position: absolute;
    top: -70px;
    left: -100px;
    width: 390px;
    transform: rotate(190deg);
}
.orange_circle_2 {
    top: 0px;
    right: 250px;
    width: 390px;
    transform: rotate(-70deg);
}
.orange_circle_3 {
    bottom: -70px;
    left: -20px;
    width: 390px;
    /* filter: (#noiseFilter); 
    transform: rotate(120deg); 
} */



.container_best {
    bottom: -3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.container_best article {
    position: relative;
    cursor: pointer;
    border-radius: 1.4rem;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.7);
}

/* ARTICLE EFFECTS */
.container_best article h4 {
    transition: .2s;;
}
.container_best article:hover h4 {
    margin-bottom: .8rem;
    transition: .2s;
}
.title_article_best {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem 1.33rem;
}
.effect_article_best::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 96%);
}

/* ARTICLE LEFT */
.container_article_left {
    width: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.3rem;
}

.article_left_best {
    position: relative;
    width: 90%;
    background-size: cover;
    overflow: hidden;
}
.article_left_best img {
    width: 100%;
}
.article_left h4 {
    font-size: 2.7rem;
    color: var(--title-color);
    
}

/* ARTICLE RIGHT */
.container_articles_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
.container_articles_right article {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.container_articles_right article  img {
    width: 100%;
}
.container_articles_right article h4 {
    font-size: 1.7rem;
    text-align: right;
    line-height: 1.98rem;
    color: var(--title-color);
}
.container_articles_right .title_article_best {
    padding: 1rem 1.33rem;
}


/* SERVIÇOS E BENEFÍCIOS DA PLAtAFORMA */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    border: 1px solid red;

    /* background: rgb(255,49,0);
    background: linear-gradient(313deg, rgba(255,49,0,1) 19%, rgba(255,161,0,1) 45%, rgba(255,67,0,1) 85%); */

    background-color: var(--bg-box);
}
.services article {
    padding: 1rem;
    border-radius: 1.4rem;
    border: 2px solid blue;
}
.services article h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--title-color);
}
.services article p {
    font-size: 1.7rem;
    color: var(--subtitle-color);
}


/* CAIXA DE PESQUISA E ULTIMAS NOTÍCIAS */
.latest_news h2{
    margin-bottom: 2.4rem;
    font-size: 3rem;
    text-align: center;
    color: var(--title-color);
}

.latest_news form {
    margin-bottom: 2.4rem;
}
.box_search_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 390px;
    padding: .9rem 2.5rem;
    border-radius: 100rem;
    box-shadow: 1px 1px 0 var(--orange);
    background-color: var(--bg-box);
}
.box_search_article input {
    font-size: 1.6rem;
    color: var(--title-color);
    border: none;
    background: none;
    outline: none;
}
.box_search_article button {
    cursor: pointer;
    border: none;
    background: none;
}
.box_search_article i {
    font-size: 2rem;
    color: var(--orange);
}


.container_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 4.5rem 3rem;
}

/* BOX ARTIGO */
.article_post {
    /* border: 1px solid red; */
}
.article_post .link_img_post {
    display: inline-block;
    margin-bottom: .8rem;
    transition: .2s;
}
.article_post .link_img_post:hover img {
    box-shadow: 0 3px 0 var(--orange);
    transition: .2s;
}

.article_post .link_img_post img {
    width: 100%;
    box-shadow: 0 2px 0 var(--orange);
    border-radius: 1rem;
}
.article_post .box_info_post {
    padding: .5rem;
}
.article_post .info_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .1rem 0 1.88rem 0;
    font-size: 1.5rem;
    color: var(--subtitle-color);
}

.article_post .title_post a {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--title-color);
}
.article_post .subtitle_post a { 
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    color: var(--subtitle-color);
}
.article_post .title_post a:hover ,
.article_post .subtitle_post a:hover {
    text-decoration: underline;
} 


/*teste git*/
/*outro teste*/
/*mains um teste*/