.section_article_post {
    margin-top: 3.3rem;
}
.container_article_post {
    margin-bottom: 3rem
}
.container_article_post .box_btn_action_user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.7rem;
    padding-right: 2rem;
}
.btn_action_user {
    padding: .7rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: .4rem;
    border: none;
    color: var(--dark-font);
    cursor: pointer;
}


.container_article_post h1 {
    position: relative;
    z-index: 100;
    width: 92%;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 800;
    text-align: center;
    text-shadow: 3px 3px 0 black;
    color: var(--title-color);
}

.header_article_post {

}
.box_info_article_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 1rem;
}
.box_info_article_post .box_info_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
}
.box_info_article_post .photo_author_article_post{
    width: 45px; height: 45px;
    border-radius: 50rem;
    border: 1px solid var(--subtitle-color);
}
.box_info_article_post .box_info_left  .name_author_article {
    font-size: 1.6rem;
    font-weight: 100;
    color: var(--subtitle-color);
}
.box_info_article_post .box_info_left  .name_author_article a {
    margin-left: .5rem;
    font-size: 1.65rem;
    color: var(--subtitle-color);
}

.box_info_article_post .date_article {
    font-size: 1.5rem;
    color: var(--subtitle-color);
}

.container_article_content {
    width: 92%;
    max-width: 1000px;
    margin: 3rem auto 1rem auto;
}

.container_article_content h2 {
    margin-bottom: 2rem;
    font-size: clamp(23px, 2vw, 29px);
    color: var(--title-color);
}

.box_video {
    position: relative;
    width: 70%;
    margin: 0.7rem auto 3.5rem auto;
    padding-bottom: 40%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
}
.box_video iframe {
    position: absolute;
    width: 100%; height: 100%;
    border: none;
}

.container_article_content h3 {
    margin: 2.3rem 0 1rem 0;
    font-size: clamp(19px, 2vw, 25px);
    color: var(--subtitle-color);
}
.container_article_content p {
    margin-bottom: 1.1rem;
    padding-left: .5rem;
    font-size: clamp(16px, 1vw, 18px);
    color: var(--subtitle-color);
}



.section_related_articles {
    margin-top: 2rem;
}
.section_related_articles h4{
    margin-bottom: 1.4rem;
    font-size: 3rem;
    text-align: center;
    color: var(--title-color);
}

.box_related_articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, .28fr));
    grid-template-rows: auto;
    place-content: center;
    gap: 2.5rem;
    margin: .7rem auto;
}



.container_comments {
    margin: 2rem 0;
}

.section_new_comment h4,
.section_comments h4{
    margin-left: 2rem;
    font-size: 3rem;
    text-align: left;
    color: var(--title-color);
}



.section_new_comment h4 {
    margin-bottom: 1.3rem;
}

.box_new_comment form {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 850px;
}
.box_new_comment form textarea {
    width: 100%;
    padding: 1rem .9rem;
    margin-bottom: 1rem;
    resize: vertical;
    font-size: 1.4rem;
    border-radius: .8rem;
    color: var(--subtitle-color);
    background: none;
    border: 1px solid var(--subtitle-color);
    outline: none;
}
.box_new_comment form button {
    width: 92%;
    max-width: 360px;
    margin: .9rem auto;
    font-size: 2rem;
}