/* CAIXA DE PESQUISA E ULTIMAS NOTÍCIAS */
.latest_news h2{
    text-align: center;
    color: var(--title-color);
}

.latest_news form {
    margin-bottom: 2.9rem;
}

.page_articles {
    margin: 0 auto;
}
.box_search_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 390px;
    border-radius: 100rem;
    box-shadow: 0 2px 0 var(--orange);
    background-color: var(--bg-box);
}
.box_search_article input {
    width: 100%;
    padding: .9rem 2.5rem;
    font-size: 1.6rem;
    color: var(--title-color);
    border: none;
    background: none;
    outline: none;
}
.box_search_article button {
    cursor: pointer;
    border: none;
    background: none;
}
.box_search_article i {
    margin-right: 1.6rem;
    font-size: 2rem;
    color: var(--orange);
}


.container_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: auto;
    gap: 4.5rem 3rem;
}