@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'tommy';
    src: url('./../../views/assets/fonts/MADETOMMY.woff');
}

:root {
    --orange: #ff6200;
    --gray: #33333d;

    --bg-box: #282c3d;
    --bg-main: #181824;

    --title-color: #f0f0f0;
    --subtitle-color: #dfdddd;
    --dark-font: #0f0f0f;

    --green-button-color: #14cc2a;
    --green-button-shadow: #107d1d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'tommy';
}

html, body{
    font-size: 62.5%;
    background: var(--bg-main);
}



a{
    text-decoration: none;
}

main {
    width: 100%;
}

section {
    margin-bottom: 4.1rem;
}
.site_width{
    width: 94%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.gb_btn {
    padding: 1rem;
    background: rgb(255,97,0);
    background: linear-gradient(82deg, rgba(255,97,0,1) 40%, rgba(255,204,0,1) 100%);
    background-size: 150% auto;
    background-position: center;
    box-shadow: 0 2px 0 var(--dark-font);
    color: var(--dark-font);
    cursor: pointer;
    font-weight: 800;
    border-radius: .8rem;
    border: none;
    transition: .2s;
}
.gb_btn:hover {
    background-position: left center;
    transition: .2s;
}
.title_section {
    margin-bottom: 1.5rem;
    font-size: clamp(22px, 3.7vw, 32px);
    text-align: center;
    color: var(--title-color);
}


.input {
    padding: 1.45rem 1.2rem;
    font-size: 1.4rem;
    color: var(--subtitle-color);
    border-radius: .5rem;
    border: none;
    background: var(--bg-box);
    outline: none;
    transition: .2s;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.btn_green {
    padding: .9rem 1.8em;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 1px 1px 0 black;
    cursor: pointer;
    color: var(--title-color);
    border-radius: .5rem;
    border: none;
    background-color: var(--green-button-color);
    box-shadow: 0 3px 0  var(--green-button-shadow);
}
.btn_green:hover {
    box-shadow: 0 4px 0 #107d1d;
}