.section_banner_profile {
    margin-top: 3rem;
}
.banner_profile {
    position: relative;
    width: 100%; height: 300px;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;

    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.6);
}
.box_banner_profile {
    position: absolute;
    bottom: 0;
    left: 3rem;

    display: flex;
    justify-content: space-between;

    transform: translateY(30%);

}
.box_banner_profile img {
    width: 130px; height: 130px;
    border-radius: 50rem;
    border: 3px solid var(--title-color);
}
.box_info_banner {
    display: flex;
    align-items: center;
    margin: 0 0 0 2rem;
}
.box_info_banner h5 {
    font-size: 2rem;
    color: var(--subtitle-color);

    filter: contrast(1.5);
}

.container_profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aside_profile {
    width: 40%;
    border: 1px solid red;
}


.content_profile {
    width: 55%;
    border: 2px solid green;
}


/* ASIDE */
