/* BOX ARTIGO */
.article_post .link_img_post {
    display: inline-block;
    margin-bottom: .6rem;
    transition: .2s;
}
.article_post .link_img_post:hover img {
    box-shadow: 0 3px 0 var(--orange);
    transition: .2s;
}

.article_post .link_img_post img {
    width: 100%;
    box-shadow: 0 2px 0 var(--orange);
    border-radius: 1rem;
}
.article_post .box_info_post {
    padding: .25rem;
}
.article_post .info_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .1rem 0 1.5rem 0;
    color: var(--subtitle-color);
}
.article_post .info_post a {
    font-size: 1.45rem;
    color: var(--subtitle-color);
}
.article_post .info_post a:hover {
    text-decoration: underline;
}
.article_post .info_post span {
    font-size: 1.36rem;
}

.article_post .title_post a {
    display: inline-block;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 1.8rem;
    text-align: center;
    color: var(--title-color);
}
.article_post .subtitle_post a { 
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--subtitle-color);
}
.article_post .title_post a:hover ,
.article_post .subtitle_post a:hover {
    text-decoration: underline;
} 



.article_post .box_comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
    margin-top: .85rem;
    padding-left: .9rem;
}
.article_post .box_comment i {
    font-size: 1.6rem;
    color: var(--orange);
}
.article_post .box_comment span {
    font-size: 1.3rem;
    color: var(--subtitle-color);
}